p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

.background {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.nav {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  .noDisplay {
    display: none;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
    font-size: 1.5em;
  }
}
